@charset"utf-8";
body{font-family: Verdana, sans-swerif;font-size:0.8em;}
header,nav,section,artcle,footer
{border:1px solid gray; margin:5px;padding:8px;}
section#displayArea{ height:210px;}
nav ul{margin:0; padding:0;}
nav ul li{display:inline; margin:5px;}
a {rex-decoration:none;}
#id_form{width: 100px; height:14px; color:red;}
